/*mobile and global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-image: url(images/pattern-03-02.png);
    background-size: cover; 
    font-family: quiet-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
}

.gallery-wrapper {
    height: 125vh;
}

ul {
    list-style: none;
}

nav#ordering {
    background-color: rgba(163, 186, 191, 1);
    text-align: center;
    width: 100vw;
}


nav img {
    width: 100px;
    height: 75px;
}

nav#ordering a {
    font-size: 1.15em;
    text-decoration: none;
    display: block;
    margin: 0 10px;
    background-color: rgba(163, 186, 191, 1);
    text-align: center;
    color: rgba(115, 47, 59, 1);
    font-weight: 500;
}

nav#ordering ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
    #logo {order: 2;}
    #home_link {order: 0;}
    #menu_link {order: 1;}
    #gallery_link {order: 3;}
    #location_link {order: 4;}

nav#ordering a:hover {
    background-color: rgba(115, 47, 59, 1);
    color: rgba(242, 208, 196, 1);
    padding: 10px;
}

/*homepage css start*/
aside#hp-title {
    margin: 15px auto;
}

#hp-title h1 {
    color: rgba(115, 47, 59, 1);
    font-size: 3em;
    font-family: quiche-sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    /*text-shadow: 3px 1.5px rgba(115, 47, 59, 1);*/
}

#hp-main {
    width: 100%;
    background-image: url(images/gal_stock1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    animation-name: hp_slide;
    /*animation animation-delay: 1s;*/
    animation-duration: 60s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}


@keyframes hp_slide {
    25% {
        background-image: url(images/hp_stock2.jpg); 
    }
    
    50% {
        background-image: url(images/hp_stock3.jpg); 
    }
    
    75% {
        background-image: url(images/hp_stock4.jpg); 
    }
    
    100% {
        background-image: url(images/hp_stock1.jpg); 
    }
}

/*gallery*/
#gallery-container {
    max-height: 980px;
    width: 100%;
    position: absolute;
    top: 110px;
    display: inline-block;
    text-align: center;
}

.small {
    width: 35%;
    position: relative;
    margin: 3px;   
    }

.small:hover {
    transform: scale(.9, .9);  
    }

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

#gallery-container a div {
     position: relative;
     margin: auto auto;
      text-align: center;
    }


.lightbox:target {
display: flex;
}
.container a {
  text-decoration: none;
}

.large {
    width: 75vw;
    height: 100%;
}
/*end of gallery css*/

/*menu page*/
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu img {
    width: 100%;
}


/*footer css applies to all pages*/
footer img {
    width: 10%;
    margin: 0 10px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-area: social-area;
}

.info {
    text-align: center;
    font-size: 1.05em;
    grid-area: info-area;
    color: rgba(115, 47, 59, 1);
    font-family: quiche-sans, sans-serif;
}

.operations {
    color: rgba(73, 134, 140, 1);
    font-family: quiche-sans, sans-serif;
    list-style: none;
    text-align: center;
    margin: 10px 0;
    grid-area: hours-area;
}

.operations li {
    color: rgba(115, 47, 59, 1);
}

footer {
    font-weight: 900;
    width: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
        "info-area"
        "hours-area"
        "social-area"
}

    .social {
        width: 75%;
        margin: 0 auto;
    }

/*footer css applies on gallery page only*/
.gallery-footer {
    position: absolute;
    top: 90vh;
    
}
/*locatioon page*/
#map {
    background-image: url(images/sweet_things_map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 75vw;
}


@media only screen and (min-width: 481px) {
/*navigation header css*/
    #logo {
        width: 10%;
        height: 10%;
    }
    
    nav#ordering a {
        margin: 0 20px;
        font-size: 1.75em;
        font-weight: 500;
    }
    
    
/*homepage css*/
    aside#hp-title {
        width: 50%;
    }
    
    #hp-title h1 {
        font-size: 3em;
        font-weight: 900;
        /*text-shadow: 1.5px 1.5px rgba(115, 47, 59, 1);*/ 
    }
    
    #hp-main {
        width: 50vw;
        height: 60vh;
        background-size: contain;
        margin: 0 auto;
    }
/*end of homepage css*/

/*gallery css*/ 
    .small {
    width: 20%;  
    }
    
    .large {
        width: 50%;
    }
    
    #gallery-main {
        margin-top: 50px;
        width: 100vw;
    }
/*end of gallery css*/
    
/*menu css*/
    .menu {
        flex-direction: row;
        margin: 25px;   
     }
    
    .menu img {
        width: 30%;
        margin: 25px;
    }
/*end of menu css*/    
    
    /*footer desktop css*/
    .info {
        font-size: 1.25vw;
        margin-top: 15px;
    }

    .operations {
        font-size: 1.25vw;
    }
    
    .operations li{
        font-weight: 700;
    }
    
    .social img {
        margin: 5px 10px;
        width: 35px;
    }
    
    .social {
        margin: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        width: 50%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr .5fr;
        align-items: flex-start;
        grid-column-gap: 5px;
        grid-template-areas: 
            "info-area hours-area social-area"
        
    }

    footer li {
        font-size: 18px;
    }

    .gallery-footer {
        position: absolute;
        top: 100vh;
    
    }/*end of desktop footer css*/
    
/*desktop location css*/    
    #map {
        background-size: contain;
        margin-top: 20px;
        height: 35vw;
    }/*end of desktop location css*/
    
    
    
}
    
    
    
    
    
    
